#weather-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* 确保特效不影响页面交互 */
    z-index: 999; /* 确保特效在最上层 */
}

#lightning-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* 确保特效不影响页面交互 */
    z-index: 999; /* 确保特效在最上层 */
}